<app-card title="{{ room.name }}">
  <mat-list>
    <ng-container *ngFor="let member of members">
      <mat-list-item>
        <mat-icon color="accent"
          *ngIf="member.name == 'Sandro'">star</mat-icon>
        <mat-icon color="primary"
          *ngIf="member.name != 'Sandro'">face</mat-icon>
        <span style="margin-left: 10px">{{ member.name }}</span>
        <div fxFlex></div>
        <mat-icon color="primary">check</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>

  <mat-card-title fxLayoutAlign="center center">
    Transactions
  </mat-card-title>

  <mat-list>
    <ng-container *ngFor="let transaction of transactions">
      <mat-list-item>
        <span>
          {{ transaction.user.name }}
        </span>
        <div fxFlex></div>
        <span>
          {{ transaction.amount }}
        </span>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
    <mat-list-item>
      <span>
        <strong>Total</strong>
      </span>
      <div fxFlex></div>
      <span style="color: #F44336">
        <strong>30.50</strong>
      </span>
    </mat-list-item>
  </mat-list>

  <div fxLayout="row"
    fxLayoutGap="20px">
    <button mat-stroked-button
      color="warn"
      (click)="addTransaction()">
      <mat-icon>clear</mat-icon>
      Close
    </button>

    <button mat-stroked-button
      color="primary"
      (click)="addTransaction()">
      <mat-icon>add_box</mat-icon>
      Add
    </button>
  </div>
</app-card>
