<div fxFlex
  fxLayout="column"
  fxLayoutGap="20px"
  fxLayoutAlign="center center">
  <button mat-stroked-button
    color="primary"
    routerLink="/login">
    Login
  </button>

  <button mat-stroked-button
    color="primary"
    routerLink="/dashboard">
    Dashboard
  </button>

  <button mat-stroked-button
    color="primary"
    routerLink="/room-list">
    Room List
  </button>

  <button mat-stroked-button
    color="primary"
    routerLink="/invite-friends">
    Invite Friends
  </button>

  <button mat-stroked-button
    color="primary">
    Room
  </button>
</div>
