:host {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.corner {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 0;
  position: absolute;
  border-color: transparent;
  border-right-color: forestgreen;
  top: 0;
  right: 0;
  cursor: pointer;
}
