<app-card *ngIf="room">
  <span class="invitation-text">
    <b>{{ room.host.name }}</b>
    <span> invites you to </span>
    <b>{{ room.name }}</b>
  </span>

  <div fxLayout="row"
    fxLayoutGap="20px"
    fxLayoutAlign="center center">
    <button mat-stroked-button
      color="primary"
      (click)="yes()">
      <!-- <mat-icon>people</mat-icon> -->
      Yes
    </button>

    <button mat-stroked-button
      color="warn"
      (click)="no()">
      <!-- <mat-icon>meeting_room</mat-icon> -->
      No
    </button>
  </div>
</app-card>
