html,
body {
  margin: 0px;
  height: 100%;
}

* {
  box-sizing: border-box;
}

app-root {
  padding: 0px 5px;
  min-height: 100%;
  router-outlet {
    display: none;
  }
  router-outlet + * {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 100px;
  }
}

mat-card {
  .card-content {
    padding: 20px;
  }
}
