<app-card title="Room List">
  <div class="room"
    *ngFor="let room of rooms">
    <button mat-stroked-button
      (click)="goToRoom(room)"
      [color]="room.isPending? 'accent' : 'primary'"
      [disabled]="room.isRejected">

      <mat-icon *ngIf="room.host.id === user.me.id"
        color="accent">home</mat-icon>
      <mat-icon>rowing</mat-icon>
      {{ room.name }}
    </button>

    <div *ngIf="room.completed"
      matTooltip="Completed"
      class="corner"></div>
  </div>
</app-card>
